.element {
  max-width: 282px;
  max-height: 361px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.element__cards {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.element__image {
  max-width: 282px;
  max-height: 282px;
}

.element__description {
  font-family: "Inter", sans-serif;

  max-width: 246px;
  max-height: 23px;
  margin: 25px auto 31px 21px;
  font-size: 24px;
  line-height: 29.05px;
}

.element__like-button {
  margin: auto 18px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.element__like-button:hover {
  opacity: 0.6; /* Se reduce al pasar el cursor */
}
