.footer {
  margin: 67px auto auto 200px;
  padding-bottom: 60px;
}

.footer__copyright {
  max-width: 318px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    max-height: 14px;
    margin: 50px 19px 36px;
    text-align: start;
  }

  .footer__copyright {
    max-width: 282px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    max-width: 100%;
  }
}
