.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__open {
  display: block;
  display: flex;
}

.popup__close {
  position: absolute;
  top: 60px;
  right: 380px;
  font-size: 40px;
  background: none;
  background-color: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.popup__form {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #000;
}

.popup__form-title {
  max-width: 330px;
  max-height: 23px;
  margin: 34px 64px 54px 36px;
}

.popup__label {
  max-width: 358px;
  max-height: 27px;
  margin: 0 37px 30px 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  /**margin: 54px auto 30px;
  width: 358px;
  height: 27px;
  color: #c4c4c4;
  border-bottom: 1px;**/
}

.popup__input {
  width: 358px;
  height: 14px;
  border: 0;
  padding-bottom: 9px;
  /**width: 360px;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;**/
}

.popup__button {
  width: 358px;
  height: 50px;
  margin: auto auto 38px;
  background-color: #000;
  padding: 10px;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .popup__open {
    display: block;
    display: flex;
  }

  .popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    background: none;
    background-color: none;
    color: #fff;
    border: none;
  }

  .popup__form {
    margin: auto;
    width: 282px;
    height: 322px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: #000;
  }

  .popup__form-title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 900;
    width: 238px;
    height: 22px;
    margin: 25px auto 76px;

    line-height: 100%;
  }

  .popup__label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 30px;
    width: 238px;
    height: 26px;
    border-bottom: 1px;
  }

  .popup__input {
    width: 238px;
    border: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    text-align: left;
  }

  .popup__button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 238px;
    height: 46px;
    margin: auto auto 25px;
    background-color: #000;
    padding: 10px;
    color: #fff;
  }
}
