.profile {
  max-width: 880px;
  max-height: 120px;
  margin: 0 auto 50px;
  display: flex;
}

.profile__image {
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile__info {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  max-width: 415px;
  max-height: 77px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.profile__name {
  max-width: 373px;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

.profile__job {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 415px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  flex-basis: 100%;
}

.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  margin-left: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  display: flex;
  justify-content: center;
  max-width: 150px;
  max-height: 50px;
  border: 2px solid #fff;
  margin: auto 0 auto auto;
  padding: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.profile__add-button:hover {
  opacity: 0.6;
}

.profile__button {
  font-size: 16px;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 14px 64px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.profile__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    max-height: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 12px;
    margin: 0 auto 36px;
  }

  .profile__image {
    height: 100px;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  .profile__info {
    max-width: 282px;
    max-height: 50px;
    margin: 30px auto 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__name {
    height: 22px;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
  }

  .profile__job {
    width: 282px;
    height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: auto;
    flex-basis: 100%;
  }

  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    margin: 0px;
    padding-left: 10px;
    flex-basis: 48%;
  }

  .profile__add-button {
    display: flex;
    justify-content: center;
    max-width: 282px;
    max-height: 50px;
    border: 2px solid #fff;
    padding: 0;
    margin: 0;
  }

  .profile__button {
    font-size: 16px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 17px 133px;
  }
}
