body {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.header {
  max-width: 880px;
  max-height: 74px;
  margin: 0 auto 40px;
  padding-top: 45px;
}

.header__image {
  max-width: 173px;
  max-height: 33px;
}

.header__line {
  max-width: 880px;
  margin: 41px auto 40px;
  opacity: 70%;
  border: 1px solid #545454;
}

.main {
}

.profile {
  max-width: 880px;
  max-height: 120px;
  margin: 0 auto 50px;
  display: flex;
}

.profile__image {
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px;
}

.profile__info {
  max-width: 415px;
  max-height: 77px;
  padding: 0;
}

.profile__name {
  max-width: 373px;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

.profile__job {
  max-width: 415px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  margin: 15px auto auto 18px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.profile__add-button {
  max-width: 150px;
  max-height: 50px;
  margin: 13px 0 14px auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.elements {
  max-width: 880px;
  max-height: 743px;
  gap: 17px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.element {
  max-width: 282px;
  max-height: 361px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.element__cards {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.element__image {
  max-width: 282px;
  max-height: 282px;
}

.element__description {
  max-width: 246px;
  max-height: 23px;
  margin: 25px auto 31px 21px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.element__like-button {
  margin: auto 18px;
  padding: 0;
  border: none;
}

.footer {
  margin: 67px auto auto 200px;
  padding-bottom: 60px;
}

.footer__copyright {
  max-width: 318px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
}
